.AppContainer {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
    width: 95%;
    align-items: baseline;
    

}

.AppWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #10141E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FC4747;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FC4747;
}


@media (max-width: 1024px) and (min-width: 768px) {
  .AppContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .AppWrap{
    width: 100%;
    margin-top: 1em;
    margin-left: 6em;
  }
}

@media (max-width:768px){
  .AppContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .AppWrap{
    margin-top: 1em;
  }
}